<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">

    <title>SENDIT</title>
</head>
<body>
    <div class="header"><i class="fa fa-paper-plane"></i>SENDIT Courier Services  |  Delivery </div>
    <div class="links">
            <a href="../../index.html">Logout</a>
            <a href="../templates/admin.html">Admin</a>
            <a href="../templates/contact.html">Feedback</a>
            <a href="../templates/view_orders.html">All Orders </a>
            <a href="../templates/delivery_form.html">Delivery </a>
            <a href="../templates/update_order.html">Update Order </a>
            <a href="../templates/create_driver.html">Register Driver </a>

    </div>
    <div class="container">
        <div class="content">
            <form>
                <div class="form-head">
                    Delivery 
                </div>
                <div class="logo"></div>
                <div class="input">
                    <div class="row">
                        <div class="col-25"><label for="parcel">Sender :</label></div>
                        <div class="col-75"><input type="text" id="from" onfocus="this.value=''" placeholder="sender's name"></div>
                    </div>
                    
                    <div class="row">
                            <div class="col-25"><label for="parcel">Parcel </label></div>
                            <div class="col-75"><input type="text" id="parcel" onfocus="this.value=''" placeholder="parcel name"></div>
                    </div>
                    
                    <div class="row">
                        <div class="col-25"><label for="parcel">Driver </label></div>
                        <div class="col-75"><input type="text" id="drive" onfocus="this.value=''" placeholder="driver's name"></div>
                </div>
                    <div class="row">
                        <div class="col-25"><label for="parcel">Pickup</label></div>
                        <div class="col-75"><input type="text" id="pickup" onfocus="this.value=''" placeholder="pickup location"></div>
                    </div>
                    <div class="row">
                        <div class="col-25"><label for="parcel" >Destination</label></div>
                        <div class="col-75"><input type="text" id="destination" onfocus="this.value=''" placeholder="destination location"></div>
                    </div>
                    <div>
                        <input type="submit" value="Submit" id="done">
                    </div>
                </div>
            </form>
        </div>
        <div class="footer"><i class="fa fa-paper-plane"></i>@kigandaivan-sendit-courier services version 1.0 &copy;copyright 2018</div>
    </div>
    <!-- <script src="../static/main.js"></script> -->
</body>
</html>